@charset "utf-8";
/* 代码整理：懒人之家 www.lanrenzhijia.com */

#abouttabs {
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
#abouttabs li {
	float: left;
	margin: 0 .5em 0 0;
}
#abouttabs a {
	font-size: 18px;
	font-weight: bold;
	font-family: 'Roboto Slab', serif;
	position: relative;
	background: black;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#8FD7F4));
	background-image: -webkit-linear-gradient(top, #fff, #8FD7F4);
	background-image: -moz-linear-gradient(top, #fff, #8FD7F4);
	background-image: -ms-linear-gradient(top, #fff, #8FD7F4);
	background-image: -o-linear-gradient(top, #fff, #8FD7F4);
	background-image: linear-gradient(to bottom, #fff, #8FD7F4);
	padding: .6em 3.0em;
	float: left;
	text-decoration: none;
	color: #444;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
	box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
}
 #abouttabs a:hover, #abouttabs a:hover::after, #abouttabs a:focus, #abouttabs a:focus::after {
 background: #fff;
}
#abouttabs a:focus {
	outline: 0;
}
 #abouttabs a::after {
 	font-family: 'Roboto Slab', serif;
 content:'';
 position:absolute;
 z-index: 1;
 top: 0;
 right: -.5em;
 bottom: 0;
 width: 1em;
 background: black;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#8FD7F4));
 background-image: -webkit-linear-gradient(top, #fff, #8FD7F4);
 background-image: -moz-linear-gradient(top, #fff, #8FD7F4);
 background-image: -ms-linear-gradient(top, #fff, #8FD7F4);
 background-image: -o-linear-gradient(top, #fff, #8FD7F4);
 background-image: linear-gradient(to bottom, #fff, #8FD7F4);
 -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
 -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
 box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
 -webkit-transform: skew(10deg);
 -moz-transform: skew(10deg);
 -ms-transform: skew(10deg);
 -o-transform: skew(10deg);
 transform: skew(10deg);
 -webkit-border-radius: 0 5px 0 0;
 -moz-border-radius: 0 5px 0 0;
 border-radius: 0 5px 0 0;
}
 #abouttabs #current a, #abouttabs #current a::after {
 background: #fff;
 z-index: 3;
}
/* ------------------------------------------------- */

#content {
	background: #fff;
	padding: 2em;
	/*height: 350px;*/
	position: relative;
	z-index: 2;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 5px -2px 3px -2px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 5px -2px 3px -2px rgba(0, 0, 0, .5);
	box-shadow: 5px 3px 5px -2px rgba(0, 0, 0, .5);
}
/*#content h2, #content h3, #content p {
	margin: 0 0 15px 0;
}*/
/* ------------------------------------------------- */

#about {
	color: #999;
}
#about a {
	color: #eee;
}
/* 代码整理：懒人之家 www.lanrenzhijia.com */